<!-- search bar -->
<app-search-text
  (onSearchResults)="searchResultsReceived($event)">
</app-search-text>

<!-- patient table -->
<table class="ui striped padded table">
  <tr>
    <th class="single line">Photo</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Suffix</th>
    <th>Email</th>
    <th>Doctor</th>
  </tr>
  <tr *ngFor="let patient of patients" [ngStyle]="{'display': patient.toString().toUpperCase().search(filter.toUpperCase()) < 0 ? 'none' : 'table-row'}">
    <td>
      <div class="ui image header">
        <img class="ui avatar image" src="{{patient.profileImage}}">
      </div>
    </td>
    <td>{{patient.firstName}}</td>
    <td>{{patient.middleName}}</td>
    <td>{{patient.lastName}}</td>
    <td>{{patient.suffix}}</td>
    <td>{{patient.emailAddress}}</td>
    <td>{{patient.doctorName}}</td>
  </tr>
</table>
